<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
    <!-- 引入Bootstrap CSS -->
    <link href="css/matrix_style.css" rel="stylesheet">
    <link href="css/bootstrap_5.2.3.min.css" rel="stylesheet">
    <!--CDN图标库-->
    <link type="text/css" href="fontawesome-free-6.6.0-web/css/all.css" rel="stylesheet">
</head>
<body>
<div class="matrix-flex-display flex-column">
<!--    <div th:replace="index::web-navber"></div>-->
    <div class="matrix-content container mt-5">
        <p>这是页面主体</p>
    </div>
    <footer class="bg-light text-center text-black p-0" th:replace="index::web-foot">
    </footer>
</div>
<script src="js/common/jquery.min.js"></script>
<script src="js/common/bootstrap_5.2.3.bundle.js"></script>
<script src="js/common/matrix_modal_tool.js"></script>
<script src="js/common/datahandle/commondatahandle.js"></script>
<script src="js/common/matrix_modal_tool.js"></script>
</body>
</html>