<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link href="css/matrix_style.css" rel="stylesheet">
    <!-- 引入Bootstrap CSS -->
    <link href="css/bootstrap_5.2.3.min.css" rel="stylesheet">
    <!--CDN图标库-->
    <link type="text/css" href="fontawesome-free-6.6.0-web/css/all.css" rel="stylesheet">
</head>
<body>
<div class="matrix-flex-display flex-column">
    <!--导航栏-->
    <nav class="matrix-border-radius-1 matrix-bg-1 matrix-padding-2 matrix-border text-black navbar navbar-dark" th:fragment="web-navber">
        <div class="dropdown">
            <button class="matrix-padding-3 matrix-btn-transparent btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle matrix-border me-2 dropdown-toggle-img" id="headerView" th:src="${null?:'./img/default.png'}" alt="" width="32" height="32">
                <strong id="nameView" th:text="${null?:'游客'}"></strong>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">个人信息</a></li>
                <li><a class="dropdown-item" href="#">安全退出&nbsp;<span class="fa fa-sign-out"></span></a></li>
            </ul>
        </div>
        <button class="matrix-padding-2 matrix-btn-transparent matrix-margin-end-1 btn text-black" type="button" data-bs-toggle="collapse" data-bs-target="#webNavbar"><!--navbar-toggler-->
            <span class="fas fa-ellipsis-v"></span>
        </button>
        <div class="collapse navbar-collapse my-2" id="webNavbar">
            <div class="btn-group" id="btn-group-view" role="group" aria-label="Basic example">
                <!--commondatahandle.js中动态加载-->
            </div>
        </div>
    </nav>
    <!--页面主体-->
    <div class="matrix-content container">
        <p>主页</p>
    </div>
    <footer class="text-center text-black small" th:fragment="web-foot">
        <strong>© CloudStudio. 版权所有. 技术支持·张有坤</strong>
    </footer>
</div>
<script src="js/common/jquery.min.js"></script>
<script src="js/common/bootstrap_5.2.3.bundle.js"></script>
<script src="js/common/matrix_modal_tool.js"></script>
<script src="js/common/datahandle/commondatahandle.js"></script>
</body>
</html>