<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link href="css/matrix_style.css" rel="stylesheet">
    <!-- 引入Bootstrap CSS -->
    <link href="css/bootstrap_5.2.3.min.css" rel="stylesheet">
    <!--CDN图标库-->
    <link type="text/css" href="css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="matrix-flex-display flex-column">
    <!--导航栏-->
    <div th:fragment="web-navber">
        <a class="btn btn-light" data-bs-toggle="offcanvas" href="#matrix-navbar" role="button" aria-controls="matrix-navbar">
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
        </a>
        <div class="matrix-border-radius offcanvas offcanvas-start matrix-offcanvas-width" tabindex="-1" id="matrix-navbar" aria-labelledby="nameLabel">
            <div class="offcanvas-header">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="d-flex align-items-center link-dark text-decoration-none" id="topDropdownView" data-bs-toggle="dropdown" aria-expanded="false">
                        <h5 id="nameLabel" th:text="${null?:'游客'}"></h5>
                    </a>
                    <div class="matrix-only-flex-display dropdown-menu small shadow" aria-labelledby="topDropdownView">
                        <p>所属机构:</p>
                        <p><strong id="organizationLabel"></strong></p>
                    </div>
                </div>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <hr>
            <div class="matrix-flex-display flex-column offcanvas-body"><!--matrix-flex-display flex-column -->
                <div class="matrix-content-top-view">
                    <div class="matrix-padding matrix-content d-flex flex-column flex-shrink-0 p-3 bg-light matrix-border-radius">
                        <ul class="matrix-ul-list matrix-border-radius list-group list-group-flush">
                            <li class="matrix-list-item matrix-border-radius my-2 py-3"><!--list-group-item-->
                                <a href="/index" class="matrix-text-decoration link-dark">首页</a>
                            </li>
                            <li class="matrix-list-item matrix-border-radius my-2 py-3">
                                <a href="#" class="matrix-text-decoration link-dark">系统维护</a>
                            </li>
                            <li class="matrix-list-item matrix-border-radius my-2 py-3">
                                <a href="/verify" class="matrix-text-decoration link-dark">实名认证</a>
                            </li>
                            <li class="matrix-list-item matrix-border-radius my-2 py-3">
                                <a href="#" class="matrix-text-decoration link-dark">其他</a>
                            </li>
                            <li class="matrix-list-item matrix-border-radius my-2 py-3">
                                <a href="about" class="matrix-text-decoration link-dark">商务合作</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="matrix-content-bottom-view">
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownInfoView" data-bs-toggle="dropdown" aria-expanded="false">
                            <img id="headerView" th:src="${null?:'./img/default.png'}" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong id="nameView"></strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownInfoView">
                            <li><a class="dropdown-item" href="#">设置</a></li>
                            <li><a class="dropdown-item" href="#">个人信息</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">安全退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页面主体-->
    <div class="matrix-content container mt-5">
        <p>主页</p>
    </div>
    <footer class="text-center text-black small" th:fragment="web-foot">
        <strong>© CloudStudio. 版权所有. 技术支持·张有坤</strong>
    </footer>
</div>
<script src="js/common/jquery.min.js"></script>
<script src="js/common/bootstrap_5.2.3.bundle.js"></script>
<script src="js/common/matrix_modal_tool.js"></script>
<script src="js/common/datahandle/commondatahandle.js"></script>
</body>
</html>