<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link href="css/matrix_style.css" rel="stylesheet">
    <!-- 引入Bootstrap CSS -->
    <link href="css/bootstrap_5.2.3.min.css" rel="stylesheet">
    <!--CDN图标库-->
    <link type="text/css" href="fontawesome-free-6.6.0-web/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="matrix-flex-display flex-column">
    <div class="matrix-item-center matrix-only-flex-content">
        <div class="matrix-only-flex-content container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card matrix-bg-animation">
                        <div class="card-header">
                            <h4 class="text-center">登录</h4>
                        </div>
                        <div class="card-body">
<!--                            <div class="mb-3">-->
<!--                                <label for="account" class="form-label">账号</label>-->
<!--                                <input type="text" class="form-control" id="account" name="account" required>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="password" class="form-label">密码</label>-->
<!--                                <input type="password" class="form-control" id="password" name="password" required>-->
<!--                            </div>-->
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="account" placeholder="输入账号" name="account" required>
                                <label for="account">账号</label>
                            </div>
                            <div class="form-floating mt-3 mb-3 position-relative">
                                <input type="password" class="form-control" id="password" placeholder="输入密码" name="password" required>
                                <label for="password">密码</label>
<!--                                <img class="password-toggle" id="showBtn" src="img/eye_hide.png" width="16" height="16"></i></img>-->
                            </div>
                            <div class="matrix-item-center">
                                <button type="submit" class="btn btn-primary btn-block" id="login_btn">登录</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-black p-0" th:replace="index::web-foot">
    </footer>
</div>
<script src="js/common/jquery.min.js"></script>
<script src="js/common/bootstrap_5.2.3.bundle.js"></script>
<script src="js/common/matrix_modal_tool.js"></script>
<script src="js/login/login_handle.js"></script>
</body>
</html>