<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>运维&管理</title>
    <!-- 引入Bootstrap CSS -->
    <link href="css/matrix_style.css" rel="stylesheet">
    <link href="css/bootstrap_5.2.3.min.css" rel="stylesheet">
    <!--fontawesome图标库-->
    <link type="text/css" href="fontawesome-free-6.6.0-web/css/all.min.css" rel="stylesheet">
    <!--表格CSS库-->
    <link type="text/css" href="datatables/css/datatables.min.css" rel="stylesheet">
    <!--toastr样式-->
    <link type="text/css" href="css/toastr.min.css" rel="stylesheet">
</head>
<body>
<div class="matrix-flex-display flex-column">
    <div th:replace="index::web-navber"></div>
    <div class="matrix-only-flex-display matrix-only-flex-content flex-column">
        <div class="matrix-fixed-content">
            <div class="btn-group" id="btn-group-view" role="group" aria-label="">
                <button type="button" class="btn btn-sm btn-primary" id="edit-user-info"><span><i class="fa-solid fa-users-gear"></i></span>&nbsp;人员管理</button>
                <button type="button" class="btn btn-sm btn-primary" id="edit-authority"><span><i class="fa-solid fa-user-lock"></i></span>&nbsp;权限管理</button>
                <button type="button" class="btn btn-sm btn-primary" id="edit-other"><span><i class="fa-solid fa-globe"></i></span>&nbsp;其他管理</button>
            </div>
        </div>
        <!-- 切换视图的容器 -->
        <div class="flex-column" id="view-container">
            <!-- 初始内容可以是空的，或者显示一个默认视图 -->
            <!-- 隐藏的不同视图内容 -->
            <div id="view-user-info" class="matrix-hide-view">
                <h2 class="text-center">人员管理</h2>
                <div class="container mt-3"><!--container-->
                    <table id="user-info-table" class="display matrix-common-table">
                        <thead>
                        <tr>
                            <th>用户账户</th><!--class="text-center"-->
                            <th>机构代码</th>
                            <th>机构名称</th>
                            <th>角色类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="user-info-table-body">
                        <!--在manager_handle.js中动态加载-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="view-authority" class="matrix-hide-view">
                <!-- 权限管理视图内容 -->
                <h2 class="text-center">权限管理</h2><!--id="user_authority_view"-->
                <div class="container mt-3">
                    <div class="matrix-width-8rem flex-column align-items-start" id="user_authority_view">

                    </div>
                </div>
            </div>
            <div id="view-other" class="matrix-hide-view">
                <!-- 其他管理视图内容 -->
                <h2 class="text-center">其他管理</h2>
                <p>这里是其他管理的内容。</p>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-black p-0" th:replace="index::web-foot">
    </footer>
</div>
<script src="js/common/jquery.min.js"></script>
<script src="js/common/bootstrap_5.2.3.bundle.js"></script>
<script src="js/common/toastr.js"></script>
<script src="datatables/js/datatables.min.js"></script>
<script src="js/common/datahandle/commondatahandle.js"></script>
<script src="js/common/matrix_modal_tool.js"></script>
<script src="js/common/matrix_tool.js"></script>
<script src="js/manager/manager_handle.js"></script>
</body>
</html>