/*定义颜色动画*/
@keyframes bgAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/*html, body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*}*/
.matrix-flex-display{
    display: flex;
    height: 100vh;
}
.matrix-content {
    /* 为页面内容设置Flex属性，使其可以增长并填满剩余空间 */
    flex: 1 0 auto;
}
/* 自定义toast样式，使其居中显示 */
.matrix-toast {
    position: fixed; /* 或者使用 absolute，取决于你的页面布局 */
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); /* 居中 */
    z-index: 9999 !important; /* 确保toast在大多数元素之上 */
    margin: 0; /* 移除默认的margin */
    width: 30%; /* 或者设置一个具体的宽度 */
    max-width: 30%; /* 限制最大宽度，避免过宽 */
    height: auto;
    max-height: 40%;
    background-color: rgba(255, 255, 255, 1);
}

/* 如果需要，可以添加一些额外的样式来美化toast */
.matrix-toast-body {
    padding: 6px; /* 增加一些内边距 */
}
.matrix-padding {
    padding: 2px;
}
.matrix-line-height{
    line-height:1.5;
}
.matrix-offcanvas-width{
    width: 180px !important;
}

/*圆角*/
.matrix-border-radius{
    border-radius: 6px;
}
.matrix-text-decoration{
    text-decoration: none;
}

/*自定义li标签样式*/
.matrix-list-item{
    text-decoration: none;
}
.matrix-list-item:hover {
    background: rgb(17, 143, 238);
}

/* 如果你还想改变链接的文本颜色，可以这样做： */
.matrix-list-item:hover .link-dark {
    color: #007bff; /* 蓝色，或者任何你希望的颜色 */
}