/*打印样式*/
/* 这些样式将用于打印 */
@media print {
    body * {
        font-size: 12pt; /* 通常使用pt单位以适应打印 */
        color: #000; /* 打印时通常使用黑色字体 */
        background-color: #fff !important; /* 确保背景色为白色，以防打印背景图 */
    }
    title {
        display: none;
    }
    /*隐藏页面右下角的页码*/
    .page-break {
        display: none;
    }
    /*移除页边距,避免页面内容在打印时被截断*/
    @page {
        margin: 0;
        size: auto;/*自动大小,可改变大小*/
    }
    .print-area,
    .print-area * {
        display:flex;/*控制内部元素中心对齐:text-align: center*/
        flex-direction: column;
        visibility: visible; /* 显示打印区域的元素 */
    }
    .print-area > :first-child {
        /*仅应用于.print-area的直接子元素中的第一个*/
        margin-top: 20%;
    }
    .not-print,
    .not-print * {
        display: none; /* 隐藏打印区域的元素 */
    }
}
/*定义颜色动画*/
/*定义颜色动画*/
@keyframes bgAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/*定义关闭,开启动画*/
@keyframes open {
    0% {
        /*top: -100vh;*/
        left: -100%;
    }
    100% {
        /*top: 0;*/
        left: 0;
    }
}
@keyframes close {
    0% {
        /*top: 0;*/
        left: 0;
        visibility: visible;
    }
    100% {
        /*top: 100vh;*/
        left: 100%;
        visibility: visible;
    }
}

.matrix-bg-animation{
    background:linear-gradient(125deg,#7377e7,#455de7,#4499fa,#f373f3,#b224ef);
    background-size: 500%;
    animation: bgAnimation 15s linear infinite;
}
.matrix-common-table tbody tr:hover {
    background-color: #e8dfdf; /* 或者你选择的任何其他颜色 */
    cursor: pointer; /* 可选：改变鼠标指针样式以表明可交互性 */
}
.matrix-main-bg{
    background: rgba(32,159,236,0.4);
}
.matrix-flex-display{
    display: flex;
    height: 100vh;
    background: rgba(32,159,236,0.4);
}
.matrix-only-flex-display{
    display: flex;
}
.matrix-only-flex-content {
    /* 为页面内容设置Flex属性，使其可以增长并填满剩余空间 */
    flex: 1 0 auto;
}
.matrix-item-center{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
.matrix-item-end{
    justify-content: center; /* 水平居中 */
    align-items: end;
}
.matrix-content-top-view{
    flex-grow: 1;
}
.matrix-content-bottom-view{
    margin-top: auto;
}
.matrix-fixed-content{
    height: auto;
    width: auto;
    display: flex;
    margin: 0.2rem 0.2rem;
    /*border: 1px solid #5460ee;*/
    border-radius: 2px;
}
.matrix-hide-view{
    display:none;
}
/* 自定义toast样式，使其居中显示 */
.matrix-toast {
    position: fixed; /* 或者使用 absolute，取决于你的页面布局 */
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%); /* 居中 */
    z-index: 9999 !important; /* 确保toast在大多数元素之上 */
    margin: 0; /* 移除默认的margin */
    width: 30%; /* 或者设置一个具体的宽度 */
    max-width: 30%; /* 限制最大宽度，避免过宽 */
    height: auto;
    max-height: 52%;
    background-color: rgb(215, 209, 209);
}
.matrix-btn-transparent{
    background-color: transparent;
    color: black; /* 可选，设置文字颜色 */
}
.matrix-bg-1{
    background-color: rgba(167, 224, 255,48) !important;
}
.matrix-border{
    color: #000;
    border: 1px solid #000;
}
.matrix-border-transparent{
    color: transparent;
    border: 1px solid #000;
}
/*圆角*/
.matrix-border-radius{
    border-radius: 6px;
}
.matrix-border-radius-1{
    border-radius: 2px;
}
.matrix-text-decoration{
    text-decoration: none;
}
/* 如果需要，可以添加一些额外的样式来美化toast */
.matrix-toast-body {
    padding: 6px; /* 增加一些内边距 */
    background-color: rgba(167, 224, 255,48) !important;
}
.matrix-padding {
    padding:0.5rem 0.5rem !important;
}
.matrix-padding-2{
    padding:0.25rem 0.25rem !important;
}
.matrix-padding-3{
    padding:0.1rem 0.1rem !important;
}
.matrix-padding-horizontal{
    padding:0px 1rem !important;
}
.matrix-margin {
    margin:2px 2px;
}
.matrix-margin-horizontal {
    margin:0px 1rem;
}
.matrix-margin-horizontal-1{
    margin:0px 0.5rem;
}
.matrix-margin-horizontal-2{
    margin:0px 0.25rem;
}
.matrix-margin-horizontal-3{
    margin:0px 0.1rem;
}
.matrix-margin-horizontal-auto{
    margin-right: auto;
    margin-left: auto;
}
.matrix-margin-end{
    margin-right:1rem;
}
.matrix-margin-end-1{
    margin-right:0.5rem;
}
.matrix-margin-top{
    margin-right:0.1rem;
}
.matrix-margin-top-1{
    margin-right:0.25rem;
}
.matrix-width-fill{
    width: 100%;
}
.matrix-width-auto{
    width:auto !important;
}
.matrix-width-8rem{
    display: flex;
    width:8rem;
    color: transparent;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 2px;
    align-items: center;
}
/*行高*/
.matrix-line-height{
    line-height:1;
}
.matrix-offcanvas-width{
    width: 180px !important;
}
.matrix-banner-container{
    width: auto;
    height: 8rem;
    margin-top: 0.1rem;
}
/*轮播图片模板*/
.matrix-banner-img {
    height: 8rem;
    width: 100%;
    object-fit: cover;
}
.matrix-ul-list{
    list-style-type: none;/* 移除圆点 */
    margin-bottom: 5px; /* 为除最后一个li之外的所有li设置下边距 */
}
.matrix-ul-list li:first-child {
    /* 只对第一个li元素应用样式 */
    margin-top: 6px; /* 设置上边距 */
}
.matrix-ul-list li:last-child {
    /* 只对最后一个li元素应用样式 */
    margin-bottom: 0; /* 移除或设置特定的下边距 */
    /* 或者，如果你想要给最后一个元素添加一些额外的下边距，你可以设置一个不同于其他元素的值 */
    /* margin-bottom: 30px; */
}
/*自定义li标签样式*/
.matrix-list-item{
    max-height: 36px;
    text-decoration: none;
    display: flex; /* 使用Flexbox来轻松实现居中 */
    align-items: center; /* 垂直居中 */
    justify-content: flex-start; /* 水平居中 */
    border: 1px solid #000; /* 添加边框，颜色为黑色，宽度为1px */
    /* 可选：添加一些内边距来避免文字紧贴边框 */
    padding: 2px 2px;
}
.matrix-list-item:hover {
    background: rgb(17, 143, 238);
}
.offcanvas-header-custom {
    display: flex; /* 启用Flexbox */
    /*width: 100vw; /* 根据需要设置宽度 */
    max-height: 68px;
    padding: 1px; /* 根据需要添加内边距 */
}
.offcanvas-header-button-container {
    flex-shrink: 0; /* 防止按钮容器被压缩 */
    margin-right: 2px; /* 根据需要添加右边距 */
    margin-top: 2px;
}
.offcanvas-header-content {
    flex-grow: 1; /* 使内容容器填充剩余空间 */
    display: flex; /* 如果需要，可以在这里启用另一个Flexbox来进一步控制标题和段落的布局 */
    flex-direction: column; /* 使标题和段落垂直排列 */
}
.matrix-password-toggle {
    cursor: pointer;
    position: absolute;
    right: 15px; /* 调整位置以适应你的布局 */
    top: 50%;
    transform: translateY(-50%);
}